body{
    background-color: rgba(4, 2, 24, 0.91);
}

h3{background-color: #190452;
    text-align: center;
    color: #ffffff;
    font-style: italic;
}

h4{background-color: #190452;
    text-align: center;
    color: #ffffff;
    font-style: italic;
}

script{color: #520404;
}

label {color: #ffffff;
}

.card-title{color: #7e7c7c;
    font-weight: bold;
    text-align: center;
}

.card-text{
    color: #7e7c7c;
    text-align:justify;  
    text-justify:initial;
    font-style: italic;
}

.kitchen{
    color: #ffffff;
    text-align:justify;  
    text-justify:initial;
    font-style: italic;
}

.like{
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #ffffff;
}

.dislike{
    background-color: #520404;
    border-color: #520404;
    color: #ffffff;
}

.carousel-item img {
    height: 33rem;
}

.navbar.navbar-dark .navbar-nav .nav-link:hover  {
    color: #3907c4;
 }