body{
    background-color: #040218e8;
}

h3{background-color: #520404;
    text-align: center;
    color: #ffffff;
}

h4{background-color: #520404;
    text-align: center;
    color: #ffffff;
}

label {color: #ffffff;
}

.card-text{
    color: #0e0d0d;
    text-align:justify;  
    text-justify:initial;
}

.kitchen{
    color: #ffffff;
    text-align:justify;  
    text-justify:initial;
}

.like{
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #ffffff;
}

.dislike{
    background-color: #520404;
    border-color: #520404;
    color: #ffffff;
}

.carousel-item img {
    height: 33rem;
}

.navbar.navbar-dark .navbar-nav .nav-link:hover  {
    color: #f10909;
 }